<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.united.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}">
<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/dat.gui.js') }}"></script>
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script src="https://use.fontawesome.com/0f1b71cc74.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CJMRTGSHND"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-CJMRTGSHND');
</script>

<body>
<title>Fedstellar | Webpage</title>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('fedstellar_home') }}">Fedstellar</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                {% if session.get("user", None) != None %}
                <li><a href="{{ url_for('fedstellar_scenario') }}">Scenario Management</a></li>
                <li><a href="https://fedstellar.enriquetomasmb.com/" target="_blank">Documentation</a></li>
                {% endif%}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if session.get("user", None) == None %}
                <form id="login-form" action="/login" method="post" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" name="user" placeholder="User" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-cream">Log In</button>
                </form>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" style="margin-right: 5px"></i>
                        <label style="cursor: pointer">{{ session.get("user") }}</label>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% if session.get("role", None) == "admin" %}
                        <a class="dropdown-item" href="{{ url_for('fedstellar_admin') }}">
                            <i class="fa fa-id-card" style="margin-right: 5px"></i>
                            <label style="cursor: pointer">My Profile</label>
                        </a>
                        {% else %}
                        <a class="dropdown-item" href="{{ url_for('fedstellar_home') }}">
                            <i class="fa fa-id-card" style="margin-right: 5px"></i>
                            <label style="cursor: pointer">My Profile</label>
                        </a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('fedstellar_logout') }}">
                            <i class="fa fa-sign-out" style="margin-right: 5px"></i>
                            <label style="cursor: pointer">Logout</label>
                        </a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% block container_extend %}{% endblock %}

<div class="container">

    <h1>{% block page_title %}{% endblock %}</h1>

    <p>{% block body %}{% endblock %}</p>

</div>

<div class='container'>
    <footer>
        <hr>
        <div class="col-md-6">
            <div id="copyright"></div>
        </div>
        <div class="col-md-6">
            <a id="fedstellar-logo-footer" href="/">
                <img
                    src="{{ url_for('static', filename='img/fedstellar-logo.jpg') }}"
                    width="400"
                    height="100"
                    alt="Fedstellar Logo"
                    title="Fedstellar">
            </a>
        </div>

    </footer>
</div>

</body>

<script>
    const copyright = document.getElementById("copyright");
    var date = new Date();
    var year = date.getFullYear();
    copyright.innerHTML = `<p>© ${year} Fedstellar. All rights reserved.<br><a href="https://fedstellar.enriquetomasmb.com/" target="_blank">Documentation</a> | <a href="https://github.com/enriquetomasmb/fedstellar" target="_blank">Source code</a></p>`;
</script>

<script>
    function showAlert(category, message) {
        // Create the alert element
        const alert = document.createElement('div');
        alert.classList.add('alert', `alert-${category}`, 'alert-dismissible', 'fade', 'in', 'show');
        alert.setAttribute('role', 'alert');
        alert.innerHTML = `${message}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>`;

        // Append the alert in the top of the page
        const container = document.querySelector('.container');
        container.insertBefore(alert, container.firstChild);
        // Hide the alert after 3 seconds
        setTimeout(() => {
            alert.remove();
        }, 3000);
    }
</script>

<script>
    const loginForm = document.getElementById("login-form");
    if (loginForm) {

        loginForm.addEventListener("submit", (event) => {
            event.preventDefault();

            const formData = new FormData(loginForm);

            fetch("/login", {
                method: "POST",
                body: formData,
            })
                .then((response) => {
                    console.log(response);
                    console.log(response.status);
                    if (!response.ok) {
                        showAlert('danger', 'Invalid credentials');
                    } else {
                        window.location.replace("/");
                    }
                })
                .catch((error) => {
                    console.error(error);
                });
        });
    }

</script>


</html>
